.nav-hidden {
    display: none
}

.nav-flex {
    display: flex
}

@media (max-width: 772px) {
    .nav-hidden {
        display: inline-block !important
    }
}

@media (max-width: 772px) {
    .nav-flex {
        display: none !important
    }
}