.nav-hidden {
    display: hidden
}

.nav-flex {
    display: flex
}

@media (min-width: 772px) {
    .nav-hidden {
        display: inline-block
    }
}

@media (min-width: 772px) {
    .nav-flex {
        display: hidden
    }
}