.nav-hidden {
    display: none !important
}

.nav-flex {
    display: flex !important
}

@media (max-width: 772px) {
    .nav-hidden {
        display: inline !important
    }
}

@media (max-width: 772px) {
    .nav-flex {
        display: none !important
    }
}